<div class="col-title" [class.sortable]="sortable" (click)="cycleSort()">
  <span class="label-text">{{ label }}</span>
  @if (sortable) {
    <span class="sort-icon">
      @if (sorted === 'asc') {
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M6 9V3M3 6l3-3 3 3" stroke="#0053A6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      } @else if (sorted === 'desc') {
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M6 3v6M3 6l3 3 3-3" stroke="#0053A6" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      } @else {
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M6 9V3M3 5l3-2 3 2M3 7l3 2 3-2" stroke="#C0C9D1" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      }
    </span>
  }
</div>
